.table {
  place-self: center;
  justify-self: start;
  grid-column: span 2;
  padding: 0 1rem;
  color: var(--light-100);
}

.table tr td:first-child {
  font-weight: bold;
}

.table td {
  padding: 0.5rem;
}

@media screen and (min-width: 768px) {
  .table {
    grid-column: span 1;
  }
}

@media screen and (min-width: 1024px) {
  .table {
    order: 1;
    padding: 0;
    margin-left: 1.9rem;
  }
}
