.title {
  place-self: center;
  grid-column: span 2;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: var(--light-100);
}

@media screen and (min-width: 1024px) {
  .title {
    justify-self: start;
    grid-column: span 1;
    margin-left: 1.9rem;
  }
}
